$(document).on('submit', '#new_comment', function(e){
  e.preventDefault();
  $.ajax({
      url: e.target.action,
      type: 'post',
      data: $(this).serialize(),
      dataType: 'json',
      success: formSubmitSuccess,
      error: formSubmitFailure
    });

  function formSubmitSuccess(response){
    var id = response.id
    var $comment = $('<div class="panel radius" id="comment_'+ id + '"</div>');
    var $name = $('<strong>' + response.user.first_name + '</strong>');
    var $body = $('<span>' + response.body + '</span>');
    var $deleteLink = $('<a href="#" class="delete_comment">' + "Delete Comment" + "</a>");
    var $time = $('<span>' + response.created_at + '</span>');

    $comment.append($name, "<br>", $body, "<br>", $time, "<br>", $deleteLink)

    $("#comments_list").prepend($comment).hide().fadeIn();
    $("#comment_body").val('');

  }

  function formSubmitFailure(response){
    alert(response.statusText + " " + response.status)
  }

});

$(document).on('click', '.delete_comment', function(e){
  e.preventDefault();

    var comment_id = this.parentElement.id.replace('comment_', '');
    var url = this.baseURI + '/comments/' + comment_id;

    $.ajax({
      url:  url,
      type: 'delete',

      success: function(response) {
        var comment = $('#comment_' + response.id)
        comment.fadeOut();
      }
    })
  })
