$(document).ready(function() {

    function handleFormSubmit(e){
    e.preventDefault();
    $.ajax({
      url: e.target.action,
      type: 'post',
      data: $(this).serialize(),
      dataType: 'json',
      success: formSubmitSuccess,
      error: formSubmitFailure
    });
  }


  function formSubmitSuccess(response){
    var $comment = $('<div class="panel radius"></div>');
    var $name = $('<strong>' + response.user.first_name + '</strong>');
    var $body = $('<span>' + response.body + '</span>');
    var $deleteLink = $('<a href="#" class="delete_comment">' + "Delete Comment" + "</a>");
    var $time = $('<span>' + response.created_at + '</span>');
  
    $comment.append($name, "<br>", $body, "<br>", $time, "<br>", $deleteLink)

    $("#comments_list").prepend($comment).hide().fadeIn();
    $("#comment_body").val('');
  }

  function formSubmitFailure(response){
    alert(response.statusText + " " + response.status)
  }


  $('body').on('submit', '#new_comment', handleFormSubmit);


  $('.delete_comment').on('click', function(e){
    e.preventDefault();
    var comment_id = this.parentElement.parentElement.id.replace('comment_', '');
    var url = this.baseURI + '/comments/' + comment_id;
    $.ajax({
      url:  url,
      type: 'delete',
      success: function(response) {
        var comment = $('#comment_' + response.id)
        comment.fadeOut();
      }
    });
  });
});
