<div class='row'>
  <div class='large-8 columns'>

    <h1>New Group:</h1>
    <%= simple_form_for @group do |f| %>
      <%= f.input :name, label: "Group Name" %>
      <%= f.button :submit, class: 'button' %>
    <% end %>
  </div>
</div>